.sideMenuInput{
    display: flex;
    flex-direction: column;
}
.label{
    display: flex;
    align-items: center;

}
.sideMenu{
    width: 232px;
    height: 264px;
    background-color: white;
    box-shadow: 0px 2px 8px 0px #0000001A;
    border-radius: 5px;

}

label:hover{
    background-color:#F1FCFF ;
}
.custom-checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #9ABBCE;
    border-radius: 2px;
    margin-right: 10px;
  }
  
.custom-checkbox::before {
    content: url('../assets/Shape.svg');
    position: absolute;
    width: 20px;
    height: 20px;
    display: none;
    left: 20%;

  }
  
  label input:checked ~ .custom-checkbox::before{

    display: block;
  }
  label input:checked ~ .custom-checkbox {
    border: 1px solid #2196F3;
  }
  label input {
    display: none;
  }